@import "../../../styles/global";

.wrap {
  & > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    max-width: $max-width;
    width: 100%;
    height: 100%;
  }

  & .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & > img {
      width: 48px;
      height: 48px;
      margin-right: 16px;
    }
  }
}
